.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.TempButtons {
    width: 100%;
}

.TimeDial {
    width: 100%;
}

.Temp {
    width: 100%;
}

.Weather {
    width: 100%;
}