.weather-layout {
    display: flex;
    flex-direction: column;
    gap: 100px;

    outline: 1px dashed grey;
}

.current-conditions {

    outline: 1px solid blue;
}

.other-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px
}

.humidity {

    outline: 1px solid lime;
}

.wind-speed {

    outline: 1px solid lime;
}

.cloud-over-total {

    outline: 1px solid lime;
}